:root {
  /* fonts */
  --main-font: 'Roboto';
  --secondary-font: 'Raleway';

  /* text colors */
  --primary-txt-color: #212121;
  --secondary-txt-color: #757575;
  --accent-color: #2196f3;
  --white-main-color: #ffffff;
  --white-secondary-color: rgba(255, 255, 255, 0.6);

  /* background colors*/
  --bg-color-grey: #f5f4fa;
  --bg-color-black: #2f303a;
  --bg-color-hero: #c4c4c4;

  /* Other */
  --logo-black: #000000;
  --btn-hover-hero: #188ce8;
  --indent: 30px;
  --items: 3;
  --border-color: #eeeeee;
  --icons-color: #afb1b8;
}

body {
  font-family: var(--main-font);
  color: var(--primary-txt-color);
}

/* reset styles */
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.link {
  text-decoration: none;
  color: currentColor;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
}

/* container */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* Header section */
.header {
  border-bottom: 1px solid #ececec;
}
.header-container {
  display: flex;
  align-items: center;
}

/* Logo-header */

.logo {
  color: var(--logo-black);
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
}
.logo-accent {
  color: var(--accent-color);
}
.header-logo {
  margin-right: 93px;
}
/*navigation*/
.header-nav {
  margin-right: auto;
}
.nav-list {
  display: flex;
  gap: 50px;
}

.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* hover  focus */
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}
.current {
  color: var(--accent-color);
  position: relative;
}
.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

/* auth-header */
.header-auth {
  display: flex;
  align-items: center;
  gap: 50px;
}

.header-phone,
.header-email {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--secondary-txt-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-item {
  display: flex;
  align-items: center;
}
.contacts-icons {
  fill: currentColor;
  margin-right: 10px;
}
/* hover  focus */
.header-phone:hover,
.header-email:hover,
.header-phone:focus,
.header-email:focus {
  color: var(--accent-color);
}

/* hero section */
.hero-section {
  max-width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/bg-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--bg-color-hero);
}

.main-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-main-color);
}
.hero-btn {
  min-width: 200px;
  min-height: 50px;
  padding: 9px 31px;
  display: block;
  margin-right: auto;
  margin-left: auto;

  background-color: var(--accent-color);
  color: var(--white-main-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  border-style: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--btn-hover-hero);
}

/* section feature*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color-grey);
  height: 120px;
  margin-bottom: var(--indent);
}
.feature-list {
  display: flex;
  gap: var(--indent);
}
.feature-item {
  width: 270px;
}
.feature-subtitle {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.feature-desc {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--secondary-txt-color);
}
/* services section */
.no-padding {
  padding-top: 0;
}
.title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: calc(42 / 36);
  letter-spacing: 0.03em;
  text-align: center;
}
.services-list {
  display: flex;
  gap: var(--indent);
}
.services-item {
  position: relative;
}
.service-overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}
.service-desc {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-main-color);
}
/* section team */
.section-team {
  background-color: var(--bg-color-grey);
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}
.team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  background-color: var(--white-main-color);
  border-radius: 0px 0px 4px 4px;
}

.team-subtitle {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
}
.team-desc {
  margin-bottom: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  color: var(--secondary-txt-color);
}

/* Social icons */

.socials-list {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-link:hover,
.socials-link:focus {
  background-color: var(--accent-color);
}

.socials-icon {
  fill: var(--icons-color);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-link:hover .socials-icon,
.socials-link:focus .socials-icon {
  fill: var(--white-main-color);
}

/* clients logos */
.clients-list {
  display: flex;
  gap: var(--indent);
}
.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--icons-color);
  border-radius: 4px;
  color: var(--icons-color);

  transition-property: color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-icons {
  fill: currentColor;
}
.clients-link:hover,
.clients-link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

/* footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bg-color-black);
}
.footer-conteiner {
  display: flex;
  align-items: baseline;
  gap: 70px;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--white-main-color);
}
.footer-address {
  font-style: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}

.footer-desc {
  margin-bottom: 9px;
  color: var(--white-main-color);
}
.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-email,
.footer-phone {
  color: var(--white-secondary-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-email:hover,
.footer-phone:hover,
.footer-email:focus,
.footer-phone:focus {
  color: var(--accent-color);
}

.socials-desc {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-main-color);
}

.footer-list {
  display: flex;
  gap: 10px;
}
.footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--white-main-color);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon {
  fill: currentColor;
}

.footer-link:hover,
.footer-link:focus {
  background-color: var(--accent-color);
}
.footer-input-send {
  width: 358px;
  height: 50px;
  padding: 15px;
  margin-right: 12px;
  color: var(--white-main-color);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: transparent;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
.footer-btn {
  display: inline-flex;
  gap: 10px;
  align-items: center;
  width: 200px;
  height: 50px;
  padding: 10px 28px;

  background-color: var(--accent-color);
  color: var(--white-main-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;

  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-style: none;
}

.footer-send-icon {
  fill: currentColor;
}
/* page portfolio */
.filter-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}
.filter-btn {
  min-height: 38px;
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  color: var(--primary-txt-color);
  border-style: none;
  background-color: var(--bg-color-grey);
  cursor: pointer;

  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--accent-color);
  color: var(--white-main-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}
.portfolio-item {
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}
.portfolio-card {
  display: block;

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card:hover,
.portfolio-card:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.card-content {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  border: 1px solid var(--border-color);
  border-top: none;
}

.portfolio-subtitle {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
}
.portfolio-desc {
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* overlay portfolio */
.portfolio-foto {
  position: relative;
  overflow: hidden;
}
.portfolio-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card:hover .portfolio-overlay {
  transform: translateY(0%);
}
.overlay-txt {
  color: var(--white-main-color);
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;
}
/* Modal window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 521px;
  height: 581px;
  padding: 40px;
  background-color: var(--white-main-color);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
  opacity: 0;
  /* transform: translate(-50%, -50%) scale(0.3) rotate(1turn); */
}
.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: var(--white-main-color);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
  color: var(--accent-color);
}
.modal-btn-icon {
  fill: currentColor;
}

/* form-group */

.form-title {
  display: block;
  text-align: center;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  letter-spacing: 0.03em;
}
.form-group {
  margin-bottom: 20px;
}
.form-wrap {
  position: relative;
  display: block;
  margin-bottom: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-wrap:last-child {
  margin-bottom: 0;
}

.form-wrap:hover,
.form-wrap:focus {
  color: var(--accent-color);
}
.form-input {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.3);

  border-radius: 4px;
  padding: 11px;
  padding-left: 42px;
  outline: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:hover,
.form-input:focus {
  border: 1px solid var(--accent-color);
}

.form-input:focus + .form-icon,
.form-input:hover + .form-icon {
  fill: var(--accent-color);
}

.form-icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  fill: currentColor;
}
.form-wrap > textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-label {
  margin-bottom: 4px;
  color: var(--secondary-txt-color);
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
}

.form-message {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.3);
  border-radius: 4px;
  padding: 11px;
  outline: transparent;
  resize: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-message:hover,
.form-message:focus {
  border: 1px solid var(--accent-color);
}

.form-agreement {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.agreement-txt {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--secondary-txt-color);
  user-select: none;
}
.icon-check {
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox:checked + .agreement-icon .icon-uncheck {
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-checkbox:checked + .agreement-icon .icon-check {
  opacity: 1;
}

.agreement-link {
  color: var(--accent-color);
  text-underline-position: under;
  /* line-height: calc(24 / 14);
  letter-spacing: 0.03em; */
}

.form-btn {
  display: block;
  padding: 10px 52px;
  margin: auto;
  font-weight: 700;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: var(--white-main-color);
  background-color: var(--accent-color);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;
  cursor: pointer;
}
